.human-detail-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  .human-detail-body {
    width: 66%;
    height: 100%;
  }
  .human-detail-date {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 30px;
    .date-title {
      font-size: 1rem;
    }
  }
}