.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.ml-2 {
  margin-left: 10px;
}
.mt-2 {
  margin-top: 10px;
}
.ml-3 {
  margin-left: 15px;
}
.mr-3 {
  margin-right: 15px;
}
.mt-4 {
  margin-top: 20px;
}
.d-flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.float-right {
  float: right;
}
.text-right {
  text-align: right;
}
.self-start {
  align-self: flex-start;
}